<% if logged_in? %>
  <a href="/users/<%= current_user.id %>"><%= current_user.email %></a>
  <a href="/logout">logout</a>
  <a href="/">home</a>
<% else %>
  <a href="/login">login</a>
  <a href="/users/new">register</a>
  <a href="/">home</a>
<% end %>